body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4 {
	font-weight: 300;
	margin-top: 0px;
	margin-bottom: 0px;
}

p {
	font-weight: 300;
	margin-top: 0px;
	margin-bottom: 0px;
	line-height: 28px;
}

ul {
	line-height: 28px;
}

/* Disable flickering on initial page load */
.wow {
	visibility: hidden;
}

/* Shorten distance for animation */
@keyframes fadeInDown {
	from {
		opacity: 0;
		transform: translate3d(-100%, 0, 0);
	}

	to {
		opacity: 1;
		transform: none;
	}
}
